# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/CCSProject/Board/Debug/*
/CCSProject/Board/Release/*
/CCSProject/CC3000 Spi/Debug/*
/CCSProject/CC3000 Spi/Release/*
/CCSProject/CC3000HostDriver/Debug/*
/CCSProject/CC3000HostDriver/Release/*
/CCSProject/CurubaDevice/Debug/*
/CCSProject/CurubaDevice/Release/*