"/CCSProject/CC3000 Board/Debug/*"
"/CCSProject/CC3000 Board/Release/*"
"/CCSProject/CC3000 Spi/Debug/*"
"/CCSProject/CC3000 Spi/Release/*"
"/CCSProject/CC3000HostDriver/Debug/*"
"/CCSProject/CC3000HostDriver/Release/*"
"/CCSProject/CurubaDevice/Debug/*"
"/CCSProject/CurubaDevice/Release/*"